<footer class="site-credits">
  <small
    ><a href="https://github.com/hipervincle">Hipervincle</a>, 2025. Desenvolupat sobre el tema
    <a href="https://github.com/patdryburgh/hitchens">Hitchens</a>.</small
  >
</footer>
