<nav class="site-navigation">
  <ul>
    {% for item in site.pages %}
      {% if item.title and item.autogen == null %}
        <li class="{% if item.url == page.url %}active{% endif %}">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="lightbulb">{% include theme-toggle.liquid %}</li>
  </ul>
</nav>
