<nav class="site-navigation">
  <ul>
    {% assign sorted_pages = site.pages | sort: 'order' %}
    {% for item in sorted_pages %}
      {% if item.title and item.autogen == null %}
        <li class="{% if item.url == page.url %}active{% endif %}">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="lightbulb">{% include theme-toggle.liquid %}</li>
  </ul>
</nav>
